{% extends 'base.html.twig' %}

{% block title %}{{ seller.title}}{% endblock %}

{% block body %}
    <style>
        .available{
            cursor: pointer;
            transition-duration: 0.2s;
        }
        .available:hover{
            background-color: #09c;
        }
		.booked-with-stripe {
			background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 50%, #ccc 50%, #ccc 75%, transparent 75%, transparent);
			background-size: 40px 40px;
		}
    </style>
    <a class="btn btn-primary" href="{{ path('app_seller_booking',{id:seller.id, week: currentWeek -1}) }}">Semaine précédente</a>
    <a class="btn btn-primary" href="{{ path('app_seller_booking',{id:seller.id, week:currentWeek +1}) }}">Semaine suivante</a>
    {{ seller.title }}
    <table id="timeSlots" class="table table-bordered" style="margin-top: 20px">
        <thead>
        <tr>
            <th>Heure</th>
            {% for date in weekDates %}
                <th>{{ date }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for time in weekSlots.times %}
            <tr>
                <td>{{ time }}</td>
                {% for day in weekSlots.days %}
                    {% set isBooked = bookedSlots[day][time] ?? false %}
                    <td class="{{ isBooked ? 'booked-with-stripe' : 'available' }}"
                            {% if not isBooked %}
                                data-bs-toggle="modal" data-bs-target="#exampleModal" data-day="{{ day }}" data-time="{{ time }}"
                            {% endif %}
                    >
                        &nbsp;
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Rendez-vous avec le vendeur {{ seller.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Prendre rendez-vous</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
			let exampleModal = document.getElementById('exampleModal');
			exampleModal.addEventListener('show.bs.modal',(event)=>{
				let button = event.relatedTarget;
				let day = button.getAttribute('data-day');
				let time = button.getAttribute('data-time');

				document.getElementById('booking_day').value = day;
				document.getElementById('booking_time').value = time;
            })
        })
    </script>
{% endblock %}